################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BusinessLogic/obj
/Domain/obj
/Infraestructure/obj
/Repository/obj
/WebApiAutenticacion/obj
