################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignorar todas las carpetas obj y bin en cualquier subcarpeta
**/obj/
**/bin/

# Ignorar archivos y carpetas generados por Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignorar archivos de backup y uploads
backups/
wwwroot/uploads/

# Ignorar archivos de configuración sensibles (producción)
appsettings.Production.json
